<form class="form-horizontal" autocomplete="off" #productEtryModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header title="Create Product" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">{{ "Name" | localize }}</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="product.name"
                    #nameModel="ngModel" #nameEl />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="type"> Type </label>
            <div class="col-md-9">
                <select class="form-select form-control" name="type" id="type" #typeModel="ngModel" #typeEl
                    [(ngModel)]="product.type">
                    <option *ngFor="let t of types" [value]="t.value">{{t.displayText}}</option>
                </select>
                <abp-validation-summary [control]="typeModel" [controlEl]="typeEl"></abp-validation-summary>
            </div>
        </div>

         <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="size">Size</label>
            <div class="col-md-9">
                 <select class="form-select form-control" name="size" id="size" #sizeModel="ngModel" #sizeEl
                    [(ngModel)]="product.size">
                    <option *ngFor="let s of sizes" [value]="s.value">{{s.displayText}}</option>
                </select>
                <abp-validation-summary [control]="sizeModel" [controlEl]="sizeEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="purchasePrice">Purchase Price</label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="purchasePrice" id="purchasePrice"
                    [(ngModel)]="product.purchasePrice" [min]="1" />
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="sellPrice">Sell Price</label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="sellPrice" id="sellPrice"
                    [(ngModel)]="product.sellPrice" [min]="1" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Active
            </label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="active" id="active"
                        [(ngModel)]="product.activeStatus" />
                    <label class="custom-control-label mt-2" for="active"></label>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!productEtryModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>