<div>
    <abp-modal-header title="Due Receive History" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <table class="table table-responsive table-bordered table-striped">
                    <thead>
                        <th style="min-width: 100px">Invoice Date</th>
                        <th style="min-width: 100px">Receive Date</th>
                        <th>Invoice</th>
                        <th>Status</th>
                        <!-- <th>Grand Total</th>
                        <th>Discount</th> -->
                        <th>Total</th>
                        <th>Paid</th>
                        <th>Due</th>
                        <th>Default</th>
                        <th style="min-width: 133px;">Remarks</th>
                        <th>Action</th>
                    </thead>

                    <tbody>
                        <tr *ngFor="let dr of histories">
                            <td>{{dr.invoiceDate | date: 'dd-MMM-yy'}}</td>
                            <td>{{dr.receiveDate | date: 'dd-MMM-yy'}}</td>
                            <td>{{dr.invoiceNumber}}</td>
                            <td>{{dr.paymentStatus == 1 ? 'Paid' : dr.paymentStatus == 2 ? 'P. Paid' : 'Due'}}</td>
                            <!-- <td class="text-right">{{dr.grandTotal | number: '1.2-2'}}</td>
                            <td class="text-right">{{dr.discount | number: '1.2-2'}}</td> -->
                            <td class="text-right">{{dr.netTotal | number: '1.2-2'}}</td>
                            <td class="text-right">{{dr.totalPaid | number: '1.2-2'}}</td>
                            <td class="text-right"><strong>{{dr.due | number: '1.2-2'}}</strong></td>
                            <td class="text-center"><input type="checkbox" value="" [checked]="dr.default" disabled>
                            </td>
                            <td>{{dr.remarks}}</td>
                            <td>
                                <button type="button" class="btn btn-sm bg-danger" (click)="delete(dr)" [disabled]="dr.default">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>