<abp-modal-header title="Add {{isClient ? 'Client' : 'Plant'}} Stock"
    (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
<div class="modal-body">
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <form class="form-horizontal" autocomplete="off" #entryForm="ngForm" (ngSubmit)="save()"
                        id="entryForm">

                        <div class="form-group row" *ngIf="!mobileView">
                            <label class="col-md-4" for="reconciliation"> Reconciliation </label>
                            <div class="col-md-8">
                                <p-checkbox name="reconciliation" id="reconciliation" [(ngModel)]="reconciliation"
                                    [binary]="true" />
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="mobileView">
                            <label class="col-5" for="reconciliation"> Reconciliation </label>
                            <div class="col-7">
                                <p-checkbox name="reconciliation" id="reconciliation" [(ngModel)]="reconciliation"
                                    [binary]="true" />
                            </div>
                        </div>

                        <div class="form-group row required">
                            <label class="col-md-4 col-form-label" for="date">Date</label>
                            <div class="col-md-8">
                                <p-datepicker [(ngModel)]="date" [showIcon]="true" inputId="buttondisplay" [minDate]="minDate"
                                    (onSelect)="handleDateSelection()" [showOnFocus]="false" dateFormat="dd-M-yy"
                                    name="date" required />
                            </div>
                        </div>

                        <div class="form-group row required" *ngIf="isClient">
                            <label class="col-md-4 col-form-label" for="warehouse"> Client </label>
                            <div class="col-md-8">
                                <p-select [options]="customers" [(ngModel)]="warehouseObj" optionLabel="displayText"
                                    name="warehouse" id="warehouse" [filter]="true" filterBy="displayText"
                                    class="w-full w-100" (ngModelChange)="onWarehouseChanged()">
                                    <ng-template #selectedItem let-selectedOption>
                                        <div class="flex items-center gap-2">
                                            <div>{{ selectedOption.displayText }}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-client #item>
                                        <div class="flex items-center gap-2">
                                            <div>{{ client.displayText }}</div>
                                        </div>
                                    </ng-template>
                                </p-select>
                            </div>
                        </div>

                        <div class="form-group row required" *ngIf="!isClient">
                            <label class="col-md-4 col-form-label" for="warehouse"> Plant </label>
                            <div class="col-md-8">
                                <select class="form-select form-control" name="warehouse" id="warehouse"
                                    #warehouseModel="ngModel" #warehouseEl [(ngModel)]="stock.clientId"
                                    (ngModelChange)="onWarehouseChanged()" required>
                                    <option *ngFor="let s of suppliers" [value]="s.value">{{s.displayText}}
                                    </option>
                                </select>
                                <abp-validation-summary [control]="warehouseModel"
                                    [controlEl]="warehouseEl"></abp-validation-summary>
                            </div>
                        </div>

                        <div class="form-group row required" *ngIf="!reconciliation">
                            <label class="col-md-4 col-form-label" for="stockPoint"> Stock Point </label>
                            <div class="col-md-8">
                                <select class="form-select form-control" name="stockPoint" id="stockPoint"
                                    #stockPointModel="ngModel" #stockPointEl [(ngModel)]="stock.stockPointId" required>
                                    <option *ngFor="let sp of stockPoints" [value]="sp.value">{{sp.displayText}}
                                    </option>
                                </select>
                                <abp-validation-summary [control]="stockPointModel"
                                    [controlEl]="stockPointEl"></abp-validation-summary>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="supervisor"> Supervisor </label>
                            <div class="col-md-8">
                                <select class="form-select form-control" name="supervisor" id="supervisor"
                                    [(ngModel)]="stock.supervisorId">
                                    <option *ngFor="let s of supervisors" [value]="s.value">{{s.displayText}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="driver"> Driver </label>
                            <div class="col-md-8">
                                <select class="form-select form-control" name="driver" id="driver"
                                    [(ngModel)]="stock.driverId">
                                    <option *ngFor="let d of drivers" [value]="d.value">{{d.displayText}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2>Stocks Info</h2>

                    <div class="card-body table-responsive table-striped table-bordered" style="padding: 0">
                        <div class="primeng-datatable-container">
                            <p-table #dataTable (onLazyLoad)="list($event)" [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [showGridlines]="true"
                                [tableStyle]="{ 'min-width': mobileView ? '19rem':'25rem' }">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 35px;">
                                            <p-checkbox [(ngModel)]="checkedAll" [binary]="true"
                                                (change)="checkedAllChanged()"
                                                [indeterminate]="checkedAllIndeterminate" />
                                        </th>
                                        <th [ngStyle]="{'min-width': mobileView ? '78px' : '170px'}"
                                            style="min-width: 170px;">Name</th>
                                        <th class="text-center">In</th>
                                        <th class="text-center">Out</th>
                                        <th class="text-center d-none">Initial Stock</th>
                                        <th class="text-center">Stock</th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <p-checkbox [(ngModel)]="record.selected" [binary]="true"
                                                (change)="checkedChanged(record)" />
                                        </td>
                                        <td>{{ record.productName}}</td>
                                        <td [ngClass]="{'invalid_cell': (record.in < 0) }">
                                            <input type="number" selectOnFocus class="form-control text-center"
                                                [disabled]="!record.selected" [(ngModel)]="record.in"
                                                (ngModelChange)="updateStock(record)" />
                                        </td>
                                        <td [ngClass]="{'invalid_cell': (record.out < 0) }">
                                            <input type="number" selectOnFocus class="form-control text-center"
                                                [disabled]="!record.selected" [(ngModel)]="record.out"
                                                (ngModelChange)="updateStock(record)" />
                                        </td>
                                        <td class="text-center d-none">
                                            {{record.initialStockQty ?? 0 }}
                                        </td>
                                        <td [ngClass]="{'invalid_cell': (record.stockQty < 0) }" class="text-center">
                                            {{record.stockQty ?? 0 }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div style="display: flex;" class="justify-content-between">
                <div>
                    <button type="button" class="btn btn-default mx-1" (click)="bsModalRef.hide()" [disabled]="saving">
                        Cancel
                    </button>
                </div>

                <button type="submit" form="entryForm" class="btn btn-primary" *ngIf="!stock.id"
                    [disabled]="!entryForm.form.valid || saving|| !validStock() || !stock.clientId">
                    Save
                </button>
                <button type="submit" form="entryForm" class="btn bg-green" *ngIf="stock.id"
                    [disabled]="!entryForm.form.valid || saving || !validStock() || !stock.clientId">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>