<form class="form-horizontal" autocomplete="off" #entryModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="virtualItem.id ? 'Add virtual item' : 'Edit virtual item'" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">{{ "Name" | localize }}</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="virtualItem.name"
                    #nameModel="ngModel" #nameEl />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="shortName">Short Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="shortName" id="shortName" required [(ngModel)]="virtualItem.shortName"
                    #shortNameModel="ngModel" #shortNameEl />
                <abp-validation-summary [control]="shortNameModel" [controlEl]="shortNameEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="type"> Type </label>
            <div class="col-md-9">
                <select class="form-select form-control" name="type" id="type" #typeModel="ngModel" #typeEl
                    [(ngModel)]="virtualItem.type">
                    <option *ngFor="let t of types" [value]="t.value">{{t.displayText}}</option>
                </select>
                <abp-validation-summary [control]="typeModel" [controlEl]="typeEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label"> Active </label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="active" id="active"
                        [(ngModel)]="virtualItem.activeStatus" />
                    <label class="custom-control-label mt-2" for="active"></label>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!entryModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>