<form class="form-horizontal" autocomplete="off" #stockPointEtryModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header title="Create stock point" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">{{ "Name" | localize }}</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="stockPoint.name"
                    #nameModel="ngModel" #nameEl />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="type"> Type </label>
            <div class="col-md-9">
                <select class="form-select form-control" name="type" id="type" #typeModel="ngModel"
                    #typeEl [(ngModel)]="stockPoint.stockPointType">
                    <option *ngFor="let sp of types" [value]="sp.value">{{sp.displayText}}
                    </option>
                </select>
                <abp-validation-summary [control]="typeModel" [controlEl]="typeEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="stockPointNumber">Stock Point Number</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="stockPointNumber" id="stockPointNumber"
                    [(ngModel)]="stockPoint.stockPointNumber" />
            </div>
        </div>
        
        <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label" for="gpsTrackerNo">Gps Tracker No.</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="gpsTrackerNo" id="gpsTrackerNo"
                    [(ngModel)]="stockPoint.gpsTrackerNo" />
            </div>
        </div> -->

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="remarks">Remarks</label>
            <div class="col-md-9">
                <textarea class="form-control" name="remarks" id="remarks" [(ngModel)]="stockPoint.remarks"
                    #addressModel="ngModel" #addressEl></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Active
            </label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="active" id="active"
                        [(ngModel)]="stockPoint.activeStatus" />
                    <label class="custom-control-label mt-2" for="active"></label>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!stockPointEtryModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>