<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>LBI Enterprise</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <img src="https://thumbs.dreamstime.com/z/lbi-letter-initial-logo-design-vector-illustration-236631731.jpg?ct=jpeg" width="980" height="600">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
