<form class="form-horizontal" autocomplete="off" #employeeEtryModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header title="Add employee" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">{{ "Name" | localize }}</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="employee.name"
                    #nameModel="ngModel" #nameEl />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="designation"> Designation </label>
            <div class="col-md-9">
                <select class="form-select form-control" name="designation" id="designation" #designationModel="ngModel"
                    #designationEl [(ngModel)]="employee.designationId">
                    <option *ngFor="let dg of designations" [value]="dg.value">{{dg.displayText}}
                    </option>
                </select>
                <abp-validation-summary [control]="designationModel"
                    [controlEl]="designationEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="department"> Department </label>
            <div class="col-md-9">
                <select class="form-select form-control" name="department" id="department" #departmentModel="ngModel"
                    #departmentEl [(ngModel)]="employee.departmentId">
                    <option *ngFor="let dp of departments" [value]="dp.value">{{dp.displayText}}
                    </option>
                </select>
                <abp-validation-summary [control]="departmentModel" [controlEl]="departmentEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="contact">Contact Number</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="contact" id="contact" required [(ngModel)]="employee.contactNumber"
                    #contactModel="ngModel" #contactEl />
                <abp-validation-summary [control]="contactModel" [controlEl]="contactEl"></abp-validation-summary>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="address">Address</label>
            <div class="col-md-9">
                <textarea class="form-control" name="address" id="address" [(ngModel)]="employee.address"
                    #addressModel="ngModel" #addressEl></textarea>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="joiningDate">Joining Date</label>
            <div class="col-md-9">
                <p-datepicker [(ngModel)]="joiningDate" [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false"
                    dateFormat="dd-M-yy" [ngModelOptions]="{standalone: true}" />
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="birthDate">Date of Birth </label>
            <div class="col-md-9">
                <p-datepicker [(ngModel)]="birthDate" [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false"
                    dateFormat="dd-M-yy" [ngModelOptions]="{standalone: true}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="remarks">Remarks</label>
            <div class="col-md-9">
                <textarea class="form-control" name="remarks" id="remarks" [(ngModel)]="employee.remarks"
                    #addressModel="ngModel" #addressEl></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="reference">Reference</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="reference" id="reference" [(ngModel)]="employee.reference"
                    #referenceModel="ngModel" #referenceEl />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Active
            </label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="active" id="active"
                        [(ngModel)]="employee.activeStatus" />
                    <label class="custom-control-label mt-2" for="active"></label>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!employeeEtryModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>